body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 2rem;
}

h1, h2 {
    margin: 0;
}

section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
u {
    list-style-type: disc;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    padding-left: 2rem;
}
h2 {
    margin-bottom: 1rem;
    color: #e43b3b;
}

#tool {
    text-align: center;
}

input, button {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#timer {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}